.row_wrapper {
    color: rgb(250, 249, 249);
    margin-bottom: 20px;
    z-index: 3;
    margin-left: 10px;
}

.row_title {
    font-size: 30px;
    letter-spacing: 3px;
    margin-bottom: 10px;
    font-style: BOLD;
    z-index: 3;
    font-family: 'neucha';
    color: #B19DD0;
}

.row_card {
    display: flex;
    align-items: center;
    height: 130px;
    color: black;
    overflow-y: hidden;
    overflow-x:visible;
    z-index: 4;
}

.row_card:hover{
    height: fit-content;
}

.row_card::-webkit-scrollbar {
    display: none;
}