.content-wrapper {
    margin-top: -150px;
    position: relative;
    background: rgb(75,21,67);
    background: linear-gradient(180deg, rgb(51, 7, 44) 0%, rgba(0,0,0,1) 100%);
    border-top: 1rem;
    border-color: blueviolet;
}

@media (max-width:786px){
    .content-wrapper{
        margin-top: -60px;
        width: 1000px;
    }
}