.card_poster {
    height: 400px;
    border-radius: 7px;
    position: relative;
    margin-right: 30px;
    width: 200px;
    transition: 0.7s;
    z-index: 4;  
    margin-left:10px;
    
}

.card_poster:hover {
    height: 400px;
    border-radius: 7px;
    position: relative;
    margin-right: 15px;
    width: 200px;
    transition: 0.7s;
    z-index: 4;  
}



.fra{
    margin-right: 15px;
    border: 0px;
    transition: 3s;
    z-index: 6;
    z-index:5;
    margin-left: -3px;
    margin-bottom: 10px;
    position: relative;
}

.card_posters {
    height: 400px;
    border-radius: 7px;
    position: relative;
    margin-right: 15px;
    width: 200px;
    transition: 0.7s;
    z-index: 4;  
}

.card_posters:hover{
    height: 250px;
    border-radius: 7px;
    margin-right: 15px;
    width: 530.33px;
    transition: 3s;
}

.classname:shade{
    height: 100vh;
    width: 100vw;
    color: #301d2e;
    opacity: 30%;

}

@media (max-width:786px){
    .card_poster,.fra,.card_posters{
        width: 800px;
        height: 400px;
    }
    .fra{
        width: fit-content;
    }
    .t{
        position: relative;
    }
}