
.nav_logo{
    align-items: center;
    margin-top: 10px;
    height: 4rem;

    transition: 0.2s;
}

.nav_logo:hover{
    height: 5rem;
}

section{
    width: 90%;
    height: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
}

nav{
    height: 11vh;
    width: 100%;
    position: fixed;
    z-index: 10;
    font-size: 0.9rem;
    opacity: 90%;
}

.nav_left{
    display: flex;
    width: 85%;
}

.nav_links{
    margin-left: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
}

.nav_links a:hover{
    color: #e97777;
    font-size: 200%;
}

.nav_links a {
    color: #B19DD0;
    text-decoration: none;
    margin-left: 2.5rem;
    font-size: 1.4rem;
    font-family: "Neucha",cursive;
    align-items: center;
    font-weight: 600;
    margin-top: 10px;
    transition: 0.2s;
    
}

.nav_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    flex: 1rem;
    gap: 1.5rem;
    color: #B19DD0;
    height: 5rem;
}

.nav_avatar{
    height:8vh;

    transition: 0.4s;
}

.nav_avatar:hover{
    width: 110%;
    height: 110%;
}

.search{
    height: 3rem;
}

.noti{
    height: 3rem;
}

.noti:hover{
    cursor: pointer;
    size: 150%;
    color: #e97777 ;
}

.search:hover{
    cursor: pointer;
    height: 7rem;
    color: #e97777;
}
